<header class="header">
  <nav class="nav-container">
      <div class="logo">
          <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/logo-Fa3AxFGiNOwCgC1L5U0yw8wI7h6Vtu.png" alt="Logo Fuerza Aerea del Perú" class="fap-logo">
          <span>Deportes FAP</span>
      </div>
      <ul class="nav-menu">
          <li><a href="/invitado">Inicio</a></li>
          <li><a href="/partidoInvitados">Partidos</a></li>
          <li><a href="/jugadores">Jugadores</a></li>
          <li><a href="/noticias">Noticias</a></li>
          <li><a href="/comunicadoInvitados">Comunicados</a></li>
          <li><a href="/contactanos">Contáctanos</a></li>
      </ul>
       <a href="/login" style="text-decoration: none;color: white;"><button class="login-btn">Iniciar Sesión</button></a>
  </nav>
</header>