<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{componentes/head :: head}"></head>
<body>
    <header th:replace="~{componentes/header :: header}"></header>
 <!-- Contenido principal -->
    <div class="container">
        <div class="header-actions">
            <h2>Equipos</h2>
            <button class="btn-add" onclick="openModal()">Agregar <span>+</span></button>
        </div>
        
        <!-- Campo de búsqueda con icono de lupa -->
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Buscar Correo">
        </div>
        
        <!-- Tabla de usuarios -->
        <div class="table-container">
  <table>
        <thead>
            <tr>
                <th>Nro</th>
                <th>Nombre del Equipo</th>
                <th>Descripcion</th>
                <th>Decada</th>
                <th>Delegado</th>
                <th>Logo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                 <tr th:each="equipo, iterStat : ${equipos}">
                    <td th:text="${iterStat.index + 1}">1</td>
                    <td th:text="${equipo.equNombre != null ? equipo.equNombre : 'Sin nombre'}">Nombre</td>
                    <td th:text="${equipo.equDescripcion!= null ? equipo.equDescripcion : 'Sin descripcion'}">Descripcion</td>
                    <td th:text="${equipo.decada != null ? equipo.decada.anioInicio + ' | ' + equipo.decada.getDecMes() : 'Sin Década'}">Década</td>
                    <td th:text="${equipo.delegado != null ? equipo.delegado.nombre + ' ' + equipo.delegado.apellido : 'Sin Delegado'}">Delegado</td>
                    <td><img th:src="@{/imagenes/administrador/imgLogoEquipos/{nombreLogo}(nombreLogo=${equipo.equLogo})}" alt="Logo del Equipo" class="img_logo_equipo"/></td>
                    <td class="actions">
                    <form th:action="@{/eliminarEquipo/{id}(id=${equipo.equId})}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este equipo?');">
                    <button class="btn-delete" type="submit">🗑️</button>
                    </form>
                         <a th:href="@{/editarEquipo/{id}(id=${equipo.equId})}">✏️</a>
                    </td>
                </tr> 
        </tbody>
    </table>
        </div>
        
        <!-- Paginación -->
        <div class="pagination">
            <button>&lt;</button>
            <button class="active">1</button>
            <button>2</button>
            <button>3</button>
            <button>...</button>
            <button>8</button>
            <button>9</button>
            <button>10</button>
            <button>&gt;</button>
        </div>
    </div>
    
    <div class="modal" id="registroModal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Registrar Nuevo Equipo</h2>
            </div>
            <form action="#" th:action="@{/registrarEquipos}" th:object="${equipo}" method="post">
                <div class="form-grid">
                    <div class="form-group">
                        <label for="nombre">Nombre del Equipo:</label>
                        <input type="text" id="nombre" th:field="*{equNombre}" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion del Equipo:</label>
                        <input type="text" id="apellido" th:field="*{equDescripcion}" required>
                    </div>
                    <div class="form-group">
                        <label for="decadas">Seleccionar Década:</label>
                        <select name="decId" id="decadas">
                            <option value="">Seleccione una década</option>
                            <tr th:each="decada : ${decadas}">
                                <option th:value="${decada.decId}" th:text="${decada.decMes} + ' (' + ${decada.anioInicio} + ')'">></option>
                            </tr>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="delegados">Seleccionar Delegado:</label>
                        <select name="delegadoId" id="delegados" required>
                            <option value="">Seleccione un delegado</option>
                            <tr th:each="delegado : ${delegados}">
                                <option th:value="${delegado.usuId}" th:text="${delegado.nombre} + ' ' + ${delegado.apellido}"></option>
                            </tr>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="logo">Logo del Equipo:</label>
                        <input type="file" id="" th:field="*{equLogo}" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn-primary" onclick="submitForm()">Añadir</button>
                    <button type="button" class="btn-secondary" onclick="closeModal()">Anular</button>
                </div>

            </form>
        </div>
    </div>

    <script>
        function openModal() {
            document.getElementById('registroModal').style.display = 'block';
        }
        
        function closeModal() {
            document.getElementById('registroModal').style.display = 'none';
        }
    </script>
</body>
</html>



